CompileFlags:
  CompilationDatabase: .

---
If:
  PathMatch: ^include/wh/.*\.(h|hpp)$
CompileFlags:
  Add:
    - -std=c++20
    - -I/Users/wepie/WePlay_/worm-hole/include
    - -I/Users/wepie/WePlay_/worm-hole/thirdy_party/stdexec/include
    - -I/Users/wepie/WePlay_/worm-hole/thirdy_party/rapidjson/include
    - -I/Users/wepie/WePlay_/worm-hole/thirdy_party/dependencies/nlohmann_json/include
    - -I/Users/wepie/WePlay_/worm-hole/thirdy_party/minja/include
---
If:
  PathMatch: ^example/.*\.(cc|cpp)$
CompileFlags:
  Add:
    - -std=c++20
    - -I/Users/wepie/WePlay_/worm-hole/include
    - -I/Users/wepie/WePlay_/worm-hole/thirdy_party/stdexec/include
    - -I/Users/wepie/WePlay_/worm-hole/thirdy_party/rapidjson/include
    - -I/Users/wepie/WePlay_/worm-hole/thirdy_party/dependencies/nlohmann_json/include
    - -I/Users/wepie/WePlay_/worm-hole/thirdy_party/minja/include
