Checks: >-
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*
WarningsAsErrors: ""
HeaderFilterRegex: '^(.*[/\\])?(include/wh|src)([/\\]|$)'
FormatStyle: file
CheckOptions:
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: '3'
