CompileFlags:
  CompilationDatabase: build/dev-editor

---
If:
  PathMatch: ^(include|tests|example|benchmark)/.*\.(h|hpp|hh|hxx|ipp|inc|c|cc|cpp|cxx)$
CompileFlags:
  Add:
    - -std=c++20
    - -Iinclude
    - -Itests
    - -Ithirdy_party/stdexec/include
    - -Ithirdy_party/rapidjson/include
    - -Ithirdy_party/dependencies/nlohmann_json/include
    - -Ithirdy_party/minja/include
    - -Ithirdy_party/benchmark/include
    - -Ithirdy_party/catch2/src
    - -Ithirdy_party/mimalloc/include
    - -Ibuild/dev-editor/generated-includes
